.reveal .slides { text-align: left; }
.reveal p {
    margin-bottom: 25px;
    line-height: 1.2em;
}
.MathJax_Display  {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
/* .reveal ul { margin-bottom: 25px; } */
